.footer {
  margin: 3em auto;
  text-align: center;
  font-size: 1.5em;
}

.logo {
  height: 1.5rem;
}

.link {
  text-decoration: none;
}

@media (max-width: 350px) {
  .footer {
    font-size: 1em;
    margin: 3em 2em;
  }
  .logo{
    margin-top: 1em;
  }
}