/* img:hover {
  width: 1.5em;
  height: 1.5em;
}

img {
  transition: all 0.3s;
} */

.container {
  height: 10em;
  padding: 0px 100px;
  background-color: rgb(19, 31, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.item {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.item:nth-child(2) {
  justify-content: flex-end;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

.listItem:hover {
  color: brown;
}

.logo {
  z-index: 10;
  width: 50px;
  height: 50px;
}

@media (max-width: 750px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .list {
    flex-direction: column;
  }
  .listItem {
    font-size: 1em;
    margin: 0.5em;
  }
  .search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding:0;
  }
}
