.pokedexGrid {
  padding-top: 3rem;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.bar {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 0 auto;
  padding: 1rem 8rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.counter {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 65, 0);
  text-align: center;
  border-radius: 10px;
  padding: 0.3em;
  min-width: 2rem;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .pokedexGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .bar {
    flex-direction: column;
    height: auto;
    align-items: center;
    flex-flow: column-reverse;
    padding: 1rem 0;
  }

  .title {
    padding: 0.5em 0;
    order: 5;
    font-size: 1.5em;
    font-weight: 600;
  }

  .favoriteContainer {
    margin-bottom: 0.5em;
  }
}

@media (min-width: 900px) {
  .pokedexGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.heart {
  color: red;
}


