.statsContainer {
  background-color: blanchedalmond;
  padding: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding-bottom: 2em;
}

.statsTitle {
  font-size: 1.3em;
  font-weight: 500;
}

.hp {
  margin-top: 1em;
}

